<div class="home">
  <div class="home-filter">{{#each e}}

    <form method="get" action="/{{this._id}}">

      <button type="submit">
        <img src="/img/type/{{this.img}}">
      </button>
      <p>{{this.name}}</p>
    </form>


    {{/each}}
  </div>
  <div class="home-main">


    {{#each list
    }}
    <a href="/product/{{this._id}}">
      <div class="home-main-card">
        <img src="img/post/{{this.display}}" class="card-img-top" alt="...">
        <div class="home-main-card-body">
          <div class="home-main-card-body-name">{{this.name}}</div>
          <div class="home-main-card-body-day">
            <p class="card-text"> {{genTime this.startday 'MMMM Do YYYY'}} </p>
            <p class="card-text"> {{genTime
              this.endday 'MMMM Do YYYY'}}</p>

          </div>
        </div>
        <div class="home-main-card-footer">
          <div>${{this.price}}</div>
          <p>$/đêm</p>



        </div>
      </div>

    </a>
    {{/each}}
  </div>


</div>

<script>
  $(document).ready(function () {



  });
</script>