<div class="home">
  <div class="home-filter">{{#each e}}

    <form method="get" action="/{{this._id}}">

      <button type="submit">
        <img src="/img/type/{{this.img}}">
      </button>
      <p>{{this.name}}</p>
    </form>


    {{/each}}
  </div>
  <div class="home-main">


    {{#each list
    }}

    <div class="home-main-card">
      <a href="/product/{{this._id}}"><img src="img/post/{{this.display}}" alt="..."></a>

      <div class="home-main-card-body">
        <div class="home-main-card-body-name">{{this.name}}</div>
        <div class="home-main-card-body-day">
          <p class="card-text"> {{genTime this.startday 'MMMM Do YYYY'}} </p>
          <p class="card-text"> {{genTime
            this.endday 'MMMM Do YYYY'}}</p>

        </div>
      </div>
      <div class="home-main-card-footer">
        <div>${{this.price}}/đêm
        </div>


        <div class="addToWishlist">
          <button class="fa  fa-heart"> </button>



        </div>


      </div>
    </div>


    {{/each}}
  </div>


</div>

<script>
  $(document).ready(function () {



  });
</script>